name: cross-build (onnx)

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'latest'
        description: 'Package version'
        type: string
        required: true

jobs:
  build_wheels:
    name: Build ${{ matrix.build }}${{ matrix.arch }} wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-24.04' ]
        arch: [ 'loongarch64' ]
        build: [ "manylinux_", "musllinux_" ]

    steps:
      - name: Get Source Code
        run: |
          package=onnx
          if [ "${{ github.event_name }}" = "schedule" ]; then
            version="latest"
          else
            version=${{ github.event.inputs.version }}
          fi
          if [ "$version" = "latest" ]; then
            version=$(curl -sSL "https://pypi.org/pypi/${package}/json" | jq -r '.info.version')
          fi
          echo "Building package: ${package} version: ${version}"
          echo "PIP_EXTRA_INDEX_URL=https://gitlab.com/api/v4/projects/65746188/packages/pypi/simple" >> $GITHUB_ENV

          full_json=$(curl -sSL "https://pypi.org/pypi/${package}/${version}/json")
          download_url=$(echo "$full_json" | jq -r '.urls[] | select(.packagetype=="sdist").url')
          if [ -z "$download_url" ]; then
              echo "No source found for package ${package} version ${version}"
              exit 1
          fi
          wget -O - "$download_url" | tar xz --strip-components=1

          if [ ! -f "workflow_scripts/protobuf/build_protobuf_unix.sh" ]; then
            mkdir -p workflow_scripts/protobuf
            wget -qO workflow_scripts/protobuf/build_protobuf_unix.sh https://github.com/onnx/onnx/raw/refs/tags/v${version}/workflow_scripts/protobuf/build_protobuf_unix.sh
            chmod +x workflow_scripts/protobuf/build_protobuf_unix.sh
          fi

          wget -qO - https://patch-diff.githubusercontent.com/raw/onnx/onnx/pull/7485.patch | patch -p1

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build wheels
        uses: loong64/cibuildwheel@v3.3.0
        env:
          CIBW_ARCHS: "${{ matrix.arch }}"
          CIBW_BUILD: "*-${{ matrix.build }}${{ matrix.arch }}"
          CIBW_BEFORE_ALL_LINUX: >
            curl -sSL https://github.com/loong64/static-clang-build/raw/refs/heads/main/manylinux-install-static-clang.sh | bash &&
            (command -v yum && yum install -y wget && source workflow_scripts/protobuf/build_protobuf_unix.sh "$(nproc)") || true &&
            (command -v apk && apk add --no-cache wget && source workflow_scripts/protobuf/build_protobuf_unix.sh "$(nproc)") || true
          CIBW_ENVIRONMENT_LINUX: >
            CC="/opt/clang/bin/clang"
            CXX="/opt/clang/bin/clang++"
            LDFLAGS="-fuse-ld=lld"
            ONNX_ML=1
            CMAKE_ARGS="-DONNX_USE_LITE_PROTO=ON"
            LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/usr/local/lib"
          CIBW_ENVIRONMENT_PASS_LINUX: PIP_EXTRA_INDEX_URL RUNNER_ARCH